<section class="comments card">
    <div class="card-header">Comments</div>
    {{#each post.comments}}
        <div class="comment">
            <p>{{comment}}</p>
            <p>&mdash; <span class="username">{{user.username}} </span> on {{format_date date_created}}</p>
        </div>
    {{/each}}
    </div>
</section>